doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/404.css')
    link(rel='stylesheet', href='http://getbootstrap.com/examples/offcanvas/offcanvas.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')

    script(src='/javascript/jquery.min.js')
    script(src='/javascript/bootstrap.min.js')
  body
    .container
        h1 404
        p #[strong Página não encontrada]
        p A página no qual você estava tentando acessar, não existe ou não está disponível no momento. Verifique a URL informada. Para voltar ao site #[a(href="/") clique aqui]! ou encontre em contato com o #[a(href="mailto:gabrielfilipe@mail.ru") desenvolvedor]

        #suggestions
            #[a(href="https://github.com/GabrielRuneScape") GitHub Gabriel] &mdash;
            #[a(href="https://twitter.com/githubstatus") @GabrielRuneScape]
