doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/blog.css')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
    link(rel='stylesheet', href='http://getbootstrap.com/examples/offcanvas/offcanvas.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')

    script(src='/javascript/jquery.min.js')
    script(src='/javascript/bootstrap.min.js')
  body
    block content
