doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheet/documentation.css')

    script(src='/javascript/jquery.min.js')
    script(src='/javascript/bootstrap.min.js')
  body
    block content
