extends layout

block content
    header
        .container
            .doc-header
                h1(class="doc-title")  WebService REST API
                p(class="lead doc-description") Documentação da API do WebService

    .container
        .row
            div(class="col-sm-2 blog-sidebar")
                .sidebar-module
                    h4.sub-doc-header Introdução
                    ol(class="nav-list")
                        li.nav-item #[a(href="/documentation") Introdução]
                        li.nav-item #[a(href="#ideia") Ideia]
                        li.nav-item #[a(href="#recursos") Recursos]
                        li(class="nav-item nav-last-item")  #[a(href="#utilizacao") Utilização]

                    h4.sub-doc-header Métodos
                    ol(class="nav-list")
                        li.nav-item #[a(href="delete") DELETE]
                        li.nav-item #[a(href="get") GET]
                        li.nav-item #[a(href="post") POST]
                        li(class="nav-item nav-last-item") #[a(href="documentation/put") PUT]

                    h4.sub-doc-header Métodos
                    ol(class="nav-list")
                        li(class="nav-item nav-last-item") #[a(href="usuarios") Usuários]

            div(class="col-sm-10")
                h1 Usuários
                p Durante o desenvolvimento da API, a consulta de cadastros de usuários, sempre é necessárias quando se trata de aplicações em que envolvam a autenticação do usuário. Entretando, deve-se tomar cuidado com quais informações são repassadas durante a consulta.
                p O módulo de consulta #[a(href='/usuarios') #[strong usuario]] está disponivel para obter, inserir, alterar e apagar informações relacionadas ao usuário dentro da API. Cada um dos métodos abaixo, explica detalhadmente o seu funcionamento e exemplo de como devem ser utilizados.
                p Informações pessoais como senhas e documentos #[strong JAMAIS] devem ser exibidas em uma #[a(href='/usuarios') consulta pública]. Essas informações devem ser exibidas após a autenticação.
                p Em métodos de solicitação como POST e PUT algumas informações não devem ser passadas da URI. Boas práticas de programação, determinam que esses dados devem ser passados através de paramêtros de formulário do tipo #[strong x-form-urlencoded].

                br

                h2(id="ideia" class="sub-header sub-doc-header") Métodos de requisição
                P Todos os métodos de requisição dão a resposta em JSON. Caso não haja falhas aparecerá uma resposta com #[code query_ok] em conjunto com a mensagem e/ou resultado da consulta. Caso contrário, aparecerá uma mensagem de erro de resposta com #[code query_fail].
                p Os métodos de requisição utilizados na API de Usuários são:

                .table-responsive
                    table(class='table table-striped')
                        thead
                            tr
                                th Metódo
                                th Descrição
                                th URL
                        tbody
                            tr
                                td
                                    a(class='label label-success' href='get') GET
                                td Busca todos os usuários e exibe em um JSON
                                td #[a(href='usuarios/get') /usuarios]

                            tr
                                td
                                    a(class='label label-warning' href='post') POST
                                td Realiza autenticação através de login e senha
                                td #[a(href='usuarios/get') /usuarios/:login/:senha]
                            tr
                                td
                                    a(class='label label-warning' href='post') POST
                                td Cria um novo usuário
                                td #[a(href='usuarios/post') /usuarios]

                            tr
                                td
                                    a(class='label label-primary' href='put') PUT
                                td Altera um usuário através da ID parametrada
                                td #[a(href='usuarios/put') /usuarios]
                            tr
                                td
                                    a(class='label label-danger' href='delete') DELETE
                                td Apaga um usuário através da ID
                                td #[a(href='usuarios/delete') /usuarios/:id]

                h2(class="sub-header sub-doc-header") Utilização
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.
                p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                br

    block rodape
